<div  class="container">
    <div class="row">
        <div class="col-md-12 col-leg-12">

            <div class="panel panel-default">
                <div class="panel-heading">{{title}}
                </div>


                <div class="panel-body">



                   <div class="row">
                       <div class="col-lg-6">
                       <h2>Choose one event in the map</h2>
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                            <ui-gmap-marker ng-repeat="event in events"
                            idKey='event.info.id'
                            coords='event.coords'
                            click='eventInfo(event)'
                            options='event.options'>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>

                </div>

                <div class="col-lg-6">
                    <div class="event_info" ng-show="single_event">
                        
                        <h2>{{single_event.info.name}}</h2>
                        <img width="300px" class="img-responsive" src="files/event_{{single_event.info.id}}/{{single_event.info.photo_url}}" />

                        <address>
                            {{single_event.info.location}}
                        </address> 
                        <p>{{single_event.info.description}}</p>
                        <p>{{single_event.info.start_date}}</p>
                        <p>{{single_event.info.end_date}}</p>
                        <button  class="btn btn-primary">Book your place</button>
                    </div>
                </div>


            </div>
            <div class="row">

                            <div class="col-lg-4">

                    <table class="table table-striped table-hover" ng-init="getAllEvents()">
                        <tr ng-repeat="event in events">
                            <td> {{event.info.name}}</td>
                        </tr>

                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
</div>
</div>